/LAB001_MainMethod.class
/LAB002_StaticMethod.class
/LAB003_StaticMethod.class
/LAB004_StaticMethod.class
/LAB005_NonStaticMethod.class
/LAB006_NonStaticMethod.class
/LAB007_StaticNonStaticMethod.class
